.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

form {
  display: flexbox;
  grid-template-columns: 0.5fr 0.5fr; /* Adjust column widths as needed */
  grid-gap: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #a0af4c; /* A more vibrant green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #d2d567;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.guestList {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guestItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.guestItem h4 {
  margin: 0;
  font-weight: bold;
}

.guestItem input[type='checkbox'] {
  margin-right: 10px;
}
